.island {
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.island__item {
  padding: 20px;
  order: 1;
}

.island__item_clickable {
  cursor: pointer;
}

.island__item + .island__item {
  border-top: 1px solid rgb(176, 198, 219);
}
