.island {
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.island__item {
  padding: 20px;
  order: 1;

    &_active {
      background: rgba(211, 229, 243, 0.856);
      h4 {
        color: rgb(48, 48, 206);
      }
    }
}

.button {
  display: flex;
  justify-content: end;
}

.island__item_clickable {
  cursor: pointer;
}

.island__item + .island__item {
  border-top: 1px solid rgb(176, 198, 219);
}
